body {
    background: linear-gradient(to bottom, #11161D, #2C4262);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: Inter, sans-serif;
}

h1 {
    text-align: center;
    color: #FFFFFF;
    font-family: Inter, sans-serif;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-family: Inter, sans-serif;
    color: #FFFFFF;
}

form {
    background-color: #232831;
    padding: 40px; 
    border-radius: 105px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    font-family: Inter, sans-serif;
}

input[type="text"], input[type="password"], input[type="submit"] {
    font-family: Inter, sans-serif;
}

input[type="text"], input[type="password"] {
    width: 595px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 100px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 52px;
}

input[type="submit"] {
    background-color: #73D482;
    color: #000000;
    border: none;
    border-radius: 100px;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 52px;
    width: 86%;
}

input[type="submit"]:hover {
    background-color: #218838;
}