<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/account.css">
    <link rel="icon" type="image/x-icon" href="/static/icons/logo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accountverwaltung</title>
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="/static/icons/logo.png" alt="HomeShieldAI">
            <h2>HomeShieldAI</h2>
        </div>
        <ul class="menu">
            <li><a href="/dashboard"><img src="/static/icons/dashboard.png" alt="Dashboard Icon"> Dashboard</a></li>
            <li><a href="/recordings"><img src="/static/icons/play.png" alt="Recordings Icon"> Aufzeichnungen</a></li>
            <li><a href="/settings"  class="active"><img src="/static/icons/settings.png" alt="Settings Icon"> Einstellungen</a></li>
        </ul>
        <footer>
            <p>Created by Raik and Jonas</p>
        </footer>
    </div>
    <div class="content">
        <h1>Accountverwaltung</h1>
      <form> 
        <input type="text" name="old_password" placeholder="Altes Passwort">
        <input type="text" name="new_password" placeholder="Neues Passwort">
        <button type="submit">Passwort ändern</button>
    
      </form>
    </div>
</body>
</html>
