<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/icons/logo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <div class="sidebar">
        <div class="logo">
            <img src="/static/icons/logo.png" alt="HomeShieldAI">
            <h2>HomeShieldAI</h2>
        </div>
        <ul class="menu">
            <li><a href="/dashboard" class="active"><img src="/static/icons/dashboard.png" alt="Dashboard Icon"> Dashboard</a></li>
            <li><a href="/recordings"><img src="/static/icons/play.png" alt="Recordings Icon"> Aufzeichnungen</a></li>
            <li><a href="/settings"><img src="/static/icons/settings.png" alt="Settings Icon"> Einstellungen</a></li>
        </ul>
        <footer>
            <p>Created by Raik and Jonas</p>
        </footer>
    </div>
    <div class="topbar" href="/account">
        <img src="/static/icons/user.png" alt="User Icon">
        {{ username }}
    </div>
    <div class="content">
        <div class="dashboard-widgets">
            <div class="widget">
                <h3>Camera 1</h3>
                <img src="http://cam1.local:8080/?action=stream" alt="Camera 1 Live Stream">
                <div class="widget-footer">
                    <img class="camera-icon" src="/static/icons/camera.png" alt="Camera Icon">
                </div>
            </div>
            <div class="widget">
                <h3>Camera 2</h3>
                <img src="/static/pictures/test.png" alt="Camera 2">
                <div class="widget-footer">
                    <img class="camera-icon" src="/static/icons/camera.png" alt="Camera Icon">
                </div>
            </div>
            <div class="widget">
                <h3>Camera 3</h3>
                <img src="/static/pictures/test.png" alt="Camera 3">
                <div class="widget-footer">
                    <img class="camera-icon" src="/static/icons/camera.png" alt="Camera Icon">
                </div>
            </div>
            <div class="widget">
                <h3>Camera 4</h3>
                <img src="/static/pictures/test.png" alt="Camera 4">
                <div class="widget-footer">
                    <img class="camera-icon" src="/static/icons/camera.png" alt="Camera Icon">
                </div>
            </div>
        </div>
    </div>
</body>
</html>