<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/icons/logo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gesichter - HomeShieldAI</title>
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="/static/icons/logo.png" alt="HomeShieldAI">
            <h2>HomeShieldAI</h2>
        </div>
        <ul class="menu">
            <li><a href="/dashboard"><img src="/static/icons/dashboard.png" alt="Dashboard Icon"> Dashboard</a></li>
            <li><a href="/recordings"><img src="/static/icons/play.png" alt="Recordings Icon"> Aufzeichnungen</a></li>
            <li><a href="/faces" class="active"><img src="/static/icons/face.png" alt="Face Icon"> Gesichter</a></li>
            <li><a href="/settings"><img src="/static/icons/settings.png" alt="Settings Icon"> Einstellungen</a></li>
        </ul>
        <footer>
            <p>Created by Raik and Jonas</p>
        </footer>
    </div>
    <a href="/account" class="topbar">
        <img src="/static/icons/user.png" alt="User Icon">
        {{ username }}
    </a>
    <div class="content">
        <h1>Gesichtserkennung</h1>
       
</body>
</html>