body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #11161D;
    color: #fff;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

label {
    margin: 10px 0;
}

input {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
